* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  width: auto;
}
html {
  font-size: 62.5%;
}
ul,
button,
a {
  border-style: none;
  list-style: none;
  text-decoration: none;
  color: black;
}
body {
  position: relative;
  overflow-x: hidden;
}

/* top subnavbar css design */
.nav-container {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.subnav {
  padding: 1vmin 3vmin;
  width: 100vw;
  font-size: 2.5vmin;
  display: flex;
  flex-direction: row;
  background-color: rgb(187, 245, 255);
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 3vmin;
  font-weight: 600;
}

.email-box,
.contact-box {
  margin-left: 1rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}
.contact-box i {
  transform: rotate(90deg);
}

/* navbar css */
.navbar {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background: white;
}
.logo-box {
  height: 12em;
  width: 26em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.logo-box img {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
}
.logo-box span {
  margin-left: -10%;
  font-size: 4rem;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #0099e5;
}
.nav-link {
  padding: 1rem;
  font-size: 3vmin;
  font-weight: 600;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  box-shadow: 0.5rem 0.5rem 1rem rgb(233, 250, 255),
    -0.5rem -0.5rem 1rem rgb(255, 255, 255);
  display: none;
}
.nav-link li a {
  color: #0099e5;
}
/* hambuger menu css */
.hambuger-menu {
  margin-right: 2rem;
  font-size: 4rem;
}

/* landing page main body */
.welcome-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #eff3f5;
}
.booking-content {
  padding: 10%;
  height: 100%;
  width: 100vw;
  background-image: url("./images/chiropractor.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8%;
}
.booking-content h1 {
  padding: 1rem;
  width: fit-content;
  font-weight: 900;
  font-size: 8vmin;
  letter-spacing: 1px;
  background: #f2faff73;
}
.booking-content button {
  padding: 1rem;
  font-size: 4vmin;
  width: fit-content;
  font-weight: bolder;
  color: #0099e5;
}
/* footer bar css */
.footer-container {
  padding: 4vmin 1vmin;
  position: fixed;
  right: 0px;
  bottom: 10rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 5vmin;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  background-color: rgb(238, 243, 244);
}
.footer-container a i {
  font-size: 4vmin;
}

#treatments-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.card {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.502);
  width: 50rem;
  box-shadow: 0px 0px 2rem rgb(211, 211, 211);
}

.image-box {
  width: 50%;
}
.image-box img {
  padding: 1rem;
  height: 26rem;
  width: 100%;
}
.content {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
  background-color: #ffffff;
}
.content h1 {
  font-size: 3em;
  font-weight: bold;
}
.content span {
  font-size: 1.5em;
  font-weight: 500;
}
.heading-box {
  display: flex;
  flex-direction: column;
  gap: 10%;
  align-items: center;
}
.heading-box :nth-child(1) {
  font-size: 5vmin;
  font-weight: bolder;
}
.heading-box :nth-child(2) {
  color: #0099e5;
  font-size: 3.5vmin;
  font-weight: bolder;
}
/* gallery section css */
.gallery-section {
  margin-block: 2rem;
  border-block: 2px solid rgb(216, 216, 216);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.gallery-section .title {
  margin: 1rem;
  padding: 1rem 4rem;
  font-size: 6vmin;
  font-weight: 700;
  background-color: #ffffff;
  border-bottom: 2px solid rgb(0, 0, 0);
}
#images {
  padding: 2rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
#images .image-box {
  margin: 1rem;
  height: fit-content;
  width: fit-content;
}
.gallery-section .image-box img {
  box-shadow: 0px 0px 1.5rem rgb(236, 236, 236);
}
/* contact section css */
.getin-touched {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.getin-touched .name {
  font-size: 4rem;
  font-weight: 600;
}
.getin-touched .sub-name {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 500;
}
.map-container {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;

  gap: 4rem;
}
.map-container iframe {
  height: 33rem;
  width: 60%;
  /* box-shadow: 0px 0px 2rem rgb(227, 227, 227); */
}

.form-container {
  width: 30%;
  height: 33rem;
}
.form-container form {
  padding: 1.5rem 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  /* border: 1px solid black; */
  box-shadow: 0px 0px 2rem rgb(227, 227, 227);
}
.form-container form div {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: whitesmoke;
}
.form-container form div label {
  font-size: 2rem;
  height: 4rem;
  width: 50%;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #004a50;
}
.form-container form div textarea,
.form-container form div input {
  all: unset;
  height: 4rem;
  width: 50%;
  font-size: 1.5rem;
  border: none;
  border-bottom: 2px solid rgb(54, 56, 56);
}
.form-container form div textarea {
  /* border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey; */
  height: fit-content;
}
.form-container form div textarea:focus,
.form-container form div input:focus {
  border-color: #0099e5;
}
.enq-submit-btn {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #ffffff;
  color: black;
  border-style: none;
  border: 1px solid black;
  box-shadow: 1px 1px 1rem rgb(235, 235, 235);
}
footer {
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  border-top: 1px solid rgb(193, 193, 193);
}
.brandname {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
  width: 40%;
}
.brandname h2 {
  font-size: 4vmin;
}
.brandname h3 {
  font-size: 3vmin;
}
.brandname span {
  margin-top: 1rem;
  font-size: 2.5vmin;
}
.social-media {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3rem;
}
.social-media a i {
  font-size: 4vmin;
}
.footer-links {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  justify-content: flex-start;
  align-content: flex-start;
  gap: 1rem;
}
.footer-links span {
  font-size: 4vmin;
  font-weight: 900;
}
.footer-links ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.footer-links ul li a {
  font-size: 2.5vmin;
}
.contact-section {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
  gap: 1.5rem;
}
.contact-section .heading {
  font-size: 4vmin;
  font-weight: 900;
}
.contact-section ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contact-section .address,
.mobile,
.phone,
.mail {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;

  font-size: 2.5vmin;
}
.policy-section {
  margin-bottom: 5rem;
  padding: 1rem 12rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.policy-section span {
  font-size: 2.5vmin;
  text-align: center;
  color: #004a50;
  font-weight: 900;
}

/* 768px width screen mobile device responsiveness for footer navbar */
@media (max-width: 767.98px) {
  .subnav {
    gap: 1vmin;
    font-size: 3.5vmin;
  }
  .navbar .logo-box a img {
    height: 8rem;
    width: 8rem;
  }
  .navbar .logo-box span {
    margin-left: -5%;
    font-size: 3rem;
  }
  .footer-container {
    padding: 1rem;
    height: fit-content;
    width: 100vw;
    position: fixed;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
  }
  .footer-container a i {
    font-size: 3rem;
  }
  .card {
    height: fit-content;
    margin: 5px;
    padding: 0.5rem 0.5rem;
    height: 24rem;
  }
  .imgage-box {
    height: 23rem;
    width: 100%;
    background-color: #0099e5;
  }
  .image-box img {
    padding: 0.5;
    height: 23rem;
    width: 100%;
  }
  .content h1 {
    font-size: 2.2rem;
    font-weight: 900;
  }
  .content span {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .map-container {
    margin: 1rem;

    flex-direction: column;
  }
  .map-container iframe {
    width: 95vw;
    height: 70vh;
  }
  .form-container {
    width: 95vw;
    height: 70vh;
  }
  .policy-section {
    padding: 1rem 4rem;
  }
  footer .brandname {
    padding: 0.5rem 1rem;
  }
  footer .brandname h2 {
    font-size: 2rem;
  }
  footer .brandname h3 {
    font-size: 1.5rem;
  }
  footer .brandname span {
    font-size: 1.5rem;
  }
  .contact-section {
    margin-top: 2rem;
    padding: 1rem 3rem;
  }
  .social-media a i {
    font-size: 2.5rem;
  }
  .footer-links span {
    font-size: 2rem;
  }
  .footer-links ul li a {
    font-size: 1.5rem;
  }
  .contact-section .heading {
    font-size: 2rem;
  }
  .contact-section .address,
  .mobile,
  .phone,
  .mail {
    font-size: 1.5rem;
    gap: 2rem;
  }
  .contact-section .address i,
  .mobile i,
  .phone i,
  .mail i {
    font-size: 2rem;
  }
}
